.StudioHome{
    .Nouveaute{
        display: flex;
        justify-content:space-around;
        font-weight: 900;
        font-size: 25px;
        margin-bottom: 2vw;
    }
    .imgContainer{
        display: flex;
        flex-direction: column;
        .FirstImg,
        .SecImg,
        .ThirdImg,
        .fourtImg,
        .fifthImg {
            display: flex;
            width: 70%;
            align-items: center;
            justify-content: space-evenly;
            margin: 1vw;
            img{
                height: 30vw;
                width: 30vw;
            }
            p{
                width:40vw;
                padding: 1vw;
            }
        }
        .fourtImg,.SecImg
            {
                margin-left: 40vw;

        }
    }
}